[submodule "mod/scheduler"]
	path = mod/scheduler
	url = https://github.com/bostelm/moodle-mod_scheduler.git
	branch = MOODLE_35_STABLE
[submodule "blocks/configurablereports"]
	path = blocks/configurablereports
	url = https://github.com/jleyva/moodle-block_configurablereports.git
	branch = MOODLE_36_STABLE
